<form class="ui form">
  <div class="field">
    <label>Nom du projet</label>
    <Input type="text" name="name" placeholder="Nom du projet" @value={{model.nouveauprojet.nom}}/>
  </div>
  <div class="field">
    <label>Description</label>
    <Textarea @value={{model.nouveauprojet.description}}></Textarea>
  </div>
  <div class="two fields">
    <div class="field">
      <label>Date de début</label>
      <Input type="date" @value={{model.nouveauprojet.datedebut}}/>
    </div>
    <div class="field">
      <label>Date de fin</label>
      <Input type="date" @value={{model.nouveauprojet.datefin}}/>
    </div>
  </div>

     
    {{#ui-dropdown class="selection" onChange=(action (mut @model.nouveauprojet.proprietaire)) as |execute mapper|}}
      <div class="default text">Proprietaire</div>
      <i class="dropdown icon"></i>
      <div class="menu">
        {{#each @model.dev as |devlp|}}
          <div data-value="{{map-value mapper devlp}}" class="item">
            {{devlp.identity}}
          </div>
        {{/each}}
      </div>
    {{/ui-dropdown}}

  <div class="ui raised segment">
    <button class="ui button green" type="submit" {{action "save" @model.nouveauprojet}}><i class="icon check circle"></i>Valider</button>
    <LinkTo @route="projects" class="ui button"><i class="times circle icon"></i>Annuler</LinkTo>
  </div>
</form>


{{outlet}}