<div class="container">
    <div class="panel panel-primary">
        
        <div class="panel-heading">Note :</div>

        <div class="panel-body">
            <Textarea @value={{model.content}} @cols="80" @rows="6" maxlength={{model.MAX}}/>

            <div>
                <button onclick={{action 'save' model}} class="btn btn-success">Enregistrer</button>
                <button onclick={{action 'clear' model}} class="btn btn-danger">Effacer</button>
            </div>

            <div class={{model.style}}>
                <p>Nombre de caractères restants : {{model.size}}</p>
            </div>

        
            

            {{#if model.alertVisible}}
                <div class="alert alert-success">
                    <p>Note enregistrée</p>
                </div>
            {{/if}}

        </div>
        
        

    </div>
</div>


{{outlet}}