{{#if model.step}}
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading"><h1>Selectionnez vos produits :</h1></div>
        <div class="container-fluid">
            <div class="row">
                <MultiSelect @elements = {{model.dispoItems}} @selectedIds = {{model.dispoItemsIds_}}/>
                <div>
                    <button class="glyphicon glyphicon-step-forward" {{action "addToIncluded" model}}></button>
                    <button class="glyphicon glyphicon-fast-forward" {{action "addAllToIncluded" model}}></button>
                    <button class="glyphicon glyphicon-step-backward" {{action "removeFromIncluded" model}}></button>
                    <button class="glyphicon glyphicon-fast-backward" {{action "RemoveAllFromIncluded" model}}></button>
                </div>
                <MultiSelect @elements = {{model.includedItems}} @selectedIds = {{model.includedItemsIds_}}/>
            </div>
        </div>
    <p>{{model.includedItems.length}} produits selectionnés</p>
    </div>
</div>
{{else}}
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading"><h1>Vos choix :</h1></div>
        <div class="container">
          {{#each model.includedItems as |item|}}
            <div class="row">
              <img class="col-xs-6 img-thumbnail" src="{{{item.image}}}" style="width:20%"/>
              <h4 class="col-xs-6" >{{{item.title}}}</h4>
            </div>
            <hr/>
          {{/each}}
        </div>
    </div>
</div>
{{/if}}

<div class="container">
    <button class="navbar-link" {{action "toggleStep" model}}>
        {{#if model.step}}
            Étape suivante <span class="glyphicon glyphicon-arrow-right"></span>
        {{else}}
            <span class="glyphicon glyphicon-arrow-left"></span> Retour au choix précédent
        {{/if}}
    </button>
</div>


{{outlet}}